.about-content
 {
     background-color: rgba(0, 0, 0, 0.048);
     font-family: var(--font-main);
     padding: 5%;
     min-height: var(--img-size);
     border-left: outset 5px var(--red-bright);
     border-bottom: outset 5px var(--red-bright);
     transition: border var(--mode-speed) ;
     transition-timing-function: linear;
}
.img-wrap {
    max-width: var(--img-size);
    color: var(--red-dark);
    font-family: var(--font-compliment);
    filter: grayscale(100%);
    font-size: 15px;        
}
.img-wrap:hover{
    filter: none;
}  
.img-wrap>img{
    max-width: var(--img-size);
    border-radius: 10px;
    border-right: outset 5px var(--red-bright);
}


@media (min-width: 1000px){
    .about-content
    {
        font-size: 25px;
        white-space: pre-wrap;
        border-radius: 10px;
        max-width: calc(var(--img-size)*2);
        min-width: 40%;
    }
    .img-wrap {
        float: right;
        padding-bottom: 3%;
        padding-left: 5%;
    }
}

@media (max-width: 999px){
    .about-content
    {
        font-size: 20px;
        border-radius: 15px;
        max-width: 90%;
        min-width: var(--img-size);
    }
    .img-wrap {
        margin: auto;
        display: block;
    }
}