/* Footer */
footer {
  font-size: var(--fs1);
  color: var(--imprint-text);
  position: static;
  bottom: 0;
  background-color: inherit;
}
footer:after {
content: ' ';
text-decoration: none;
position: absolute;
min-width: 80vw;
width: 80%;
margin-left: 10%;
border-top: solid 1px var(--imprint-text);
}

.ansi>pre>span { 
  font-weight: bold; 
  font-size: var(--fs2);
  color: var(--red-bright); 
  transition-property: color;
  transition-duration: var(--mode-speed) ;
}
.ansi-inline{
  display: flex;
  flex-wrap: nowrap;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
}
.flex-item-footer {
  margin-top: auto;
  flex: 33%;
  
}
.flex-item-footer:nth-child(2){
  text-align: center;
}


.ansi1{
  font-size: var(--fs-ansi);
  padding-left: 20px;

}
.ansi1>span{
  color: var(--red-bright);
  transition-property: color;
  transition-duration: var(--mode-speed);
}
@media (max-width: 999px){
.ansi1{

  display: none;
}

}