html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} 
.option img{
  width: 75%;
}

.option {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  top: 0;
  bottom: 0;
}

.option span {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#ASP {
  left: 0;
  right: 50%;
  background-color: rgb(70, 70, 70);
}
#ASP:hover img{
  filter: invert(100%) hue-rotate(280deg);
}
#ASP:hover {
  background-color: var(--light-grey);
  transition: background-color .4s;
  text-decoration: underline; 
}
#Django {
  left: 50%;
  right: 0;
  background-color: rgb(68, 183, 139);
}
#Django img{
  filter: sepia(79%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
#Django:hover {
  background-color: rgb(51, 51, 51);
  transition: background-color .4s;
  text-decoration: underline; 
}
#Django:hover img{
  filter: none;
}


.framework_footer{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0px;
  width: 100%;
}
.root_footer{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  bottom: 0px;
}
.root_footer img{
  height: 60%;
  bottom: 0px;
}