.rectwrapper{
	width: 350px;
	height: 70px;
	transform-style: preserve-3d;
	display: inline-block;
	bottom:0;
}
.face{
    background-color: var(--dark-grey); 
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	transition-property: background-color;
	transition-duration: var(--mode-speed-background) ;
	transition-timing-function: linear;
}
.face:nth-child(1){
	transform-origin: center top;
	transform: rotateX(180deg) translateY(-70px) translateZ(35px);
}
.face:nth-child(2){
	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(35px);
}
.face:nth-child(3){
	transform-origin: center top;
	transform: rotateY(-270deg) rotateX(90deg) rotateZ(90deg) translateY(-35px) translateZ(0px);
}
.face:nth-child(4){
	transform-origin: center bottom;
	transform: translateZ(35px);
}
