/* Body */
.dark-mode{
  --light-grey: var(--dark-grey);
  --light-white: var(--dark-white);
  --red-bright: var(--green-bright);
  --red-dark: var(--green-dark);
  --light-grey-section: var(--dark-grey-section);
  
}

.dark-mode ::selection{
  color: black;
  background-color: white;
}

/* Button */
.dark-mode .svg{
  fill: var(--dark-white);
  width:80%
}
.lightbuttontext> svg:hover>.svg{
  fill: rgb(255, 255, 132);
}
.lightbuttontext{
  z-index: 2; 
  position:relative; 
  right:20px; 
  float: right; 
  font-family: var(--font-hand); 
  transform: rotateZ(25deg);
}

  .lightbuttontext{
  font-size: var(--fs4); 
  top: 80px; 
  }