/* Footer */
footer {
bottom: 0;
margin-top: auto;
font-size: small;
}
footer:after {
content: ' ';
text-decoration: none;
position: absolute;
width: 80%;
left: 0;
margin-left: 10%;
border-top: solid 1px grey;
}

.push_right>pre>span { font-weight: bold; 
  font-size: 13px;
  color: #00ff9a; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-item-footer {
  margin-top: auto;
  flex: 33%;
}
.flex-item-footer:nth-child(2){
  text-align: center;
}
.push_right {
  float: right;
}