/* Footer */
footer {
  font-size: var(--fs1);
  color: var(--imprint-text);
  position: static;
  bottom: 0;
  width: 100%;
  background-color: inherit;
}
footer:after {
content: ' ';
text-decoration: none;
position: absolute;
width: 80%;
margin-left: 10%;
border-top: solid 1px var(--imprint-text);
}

.push_right>pre>span { 
  font-weight: bold; 
  font-size: var(--fs2);
  color: var(--green-bright); 
  transition-property: color;
  transition-duration: var(--mode-speed) ;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
}
.flex-item-footer {
  margin-top: auto;
  flex: 33%;
}
.flex-item-footer:nth-child(2){
  text-align: center;
}
.push_right {
  float: right;
  padding-right: 20px;
}

.ansi1{
  font-size: var(--fs-ansi);
  padding-left: 20px;

}
.ansi1>span{
  color: var(--green-bright);
  transition-property: color;
  transition-duration: var(--mode-speed);
}
