
body { 
  background-color: var(--dark-grey); 
  color: var(--dark-white); 
	transition-duration: var(--mode-speed-background) ;
	transition-timing-function: linear;
}
::selection{
  color: black;
  background-color: white;
}
section{
  min-height: 100vh;

}
html {
	scroll-behavior: smooth;
}

