.body_ground { 
  background-color: #232323; 
  color: #ffffff; 
}

@font-face{
  font-family: Montserrat;
  src:url('../fonts/Montserrat.ttf');

}
*.light-mode{
  background-color: #e0e0e0;
  color:black;
}
.light-mode * span.ansi2{
  color:rgb(0, 224, 240);
}
.ansi2 { color: #04AA6D; }

.center {
  text-align: center;
}

    /*{ % load static %}*/

    .button4 {border-bottom-left-radius: 40px;}
    .button {
      background-color: #04AA6D;
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      float: right;
      top: auto;
    }