@font-face{
  font-family: Montserrat;
  src:url('../fonts/Montserrat.ttf');

}
@font-face{
  font-family: GochiHand;
  src:url('../fonts/GochiHand-Regular.ttf');

}

.body_ground { 
  background-color: #232323; 
  color: #ffffff; 
  margin: 0px;
}

.ansi2 { color: #00ff9a;
 }

.center {
  text-align: center;
}

