/* Header */
header {
  background-color: inherit;
  position: fixed;
  margin-right: 30px;
  font-size: var(--fs-header);
  height: var(--nav-height);
  width: 100%;
  height: auto;
  opacity: 90%;  
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
}

.nav-up {
  transform: translateY(-100%);
}
.navigate_style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li { 
  margin: 10px; 
  counter-increment: item 1;
  list-style: none;
}

li>a::before{
  color: var(--green-bright);
  content: "0" counter(item) "[" ;
  box-sizing: inherit;
  transition: color var(--mode-speed) linear;
}
li>a::after{

  color: var(--green-bright);
  content: "]" ;
  box-sizing: inherit;
  transition: color var(--mode-speed) linear;

}

.nav_text>li>a:hover::before
{
  color: var(--dark-grey);
  text-decoration: underline; 
}.nav_text>li>a:hover::after
{
  color: var(--dark-grey);
  text-decoration: underline; 
}
.nav_text>li>a{
  color: inherit;
  text-decoration: none; 
  font-size: var(--fs3); 
  font-family: var(--font-main);
  border-radius: 2px;
  opacity: .8;
  background:
    conic-gradient(from -135deg at 100%  50%, var(--green-bright) 90deg, rgba(0, 0, 0, 0) 0) 
      0  var(--p, 0%) / var(--s, 0%) 200% no-repeat,
    conic-gradient(from -135deg at 1.1em 50%, rgba(0, 0, 0, 0) 90deg, var(--green-bright) 0) 
      100% var(--p, 0%) / var(--s, 0%) 200% no-repeat;
  transition: background-position 0s, background-size .2s;
}
.nav_text>li>a:hover {
  color: var(--dark-grey);
  text-decoration: underline; 
  font-family: var(--font-main);

  --p: 100%;
  --s: calc(50% + .6em);
}
#typethis {
font-family: var(--font-compliment);
text-decoration: none; 
color: var(--green-bright);
transition: color var(--mode-speed) linear;

}
h1{
  display: inline;
  font-size: var(--fs1);
}
.svg{
  fill: var(--dark-white);
  position:static;
}

div:has(> a#typethis)
{
  color:var(--imprint-text);
  padding-left:40px;

}
/*Nav Layout and Underscore*/
ol { 
  display: flex;
  font-size: var(--fs3);  
  padding-inline-start: 0px;
  position: relative;
}
ol:has(li)::after {
content: ' ';
text-decoration: none;
position: absolute;
width: 80%;
bottom: 0;
margin-left: 10%;
border-bottom: solid 1px grey;

}

/* SVG Links */
#svg-container{
  margin-left: 10%;
  height: auto;
}
a:has(#svg-links){
  fill: var(--dark-white);
  padding-inline-start: 0px;
  padding-right: 10px;
  height: 30px;
  width: 30px;
  align-items: center;
}
#svg-links{
  --svg-height: 30px;
  height: var(--svg-height);
  transition: fill var(--mode-speed-background) linear;
  align-items: center;

}
#svg-links:hover{
  fill: var(--green-bright);
  transform: translateY(-5px);
  padding-bottom: 5px;
  transition: fill 0.2s linear;

}
