/* Header */
header {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 50px;
  color: #00ff9a;
}

ol { 
  display: flex;
  padding-inline-start: 0px;
  position: relative;
  text-decoration:none;
}
ol:after {
content: ' ';
text-decoration: none;
position: absolute;
width: 80%;
height: 100%;
left: 0;
margin-left: 10%;
border-bottom: solid 1px grey;
}
li { 
  margin: 20px; 
  font-size: 15px;  
}


.navigate_style {
    display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_text {
  color: white;
  text-decoration: none; 
  font-size: 15px; 
  font-family: "Courier New";
}


.type_out { color: #00ff9a;
font-family: Montserrat;
text-decoration: none; 

}