/* Header */
header {
  margin-right: 30px;
  font-size: 50px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  background-color: inherit;
  opacity: 90%;  
}

.nav-up {
  top: -100px;
}
.navigate_style {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav_text>li>a {
  color: inherit;
  text-decoration: none; 
  font-size: 15px; 
  font-family: "Courier New";
}
.nav_text>li>a:hover {
  color: #00ff9a;
  text-decoration: underline; 
  font-size: 15px; 
  font-family: "Courier New";
}

#typethis {
font-family: Montserrat;
text-decoration: none; 


}
div:has(> a#typethis)
{
  color:#444444;
  padding-left:40px;
}
/*Nav Layout and Underscore*/
ol { 
  display: flex;
  font-size: 15px;  
  padding-inline-start: 0px;
  position: relative;
}
ol:after {
content: ' ';
text-decoration: none;
position: absolute;
width: 80%;
bottom: 0px;
left: 0;
margin-left: 10%;
border-bottom: solid 1px grey;

}
li { 
  margin: 20px; 
  
}
li::marker{
  
  color: #00ff9a;
  
  }

.button4 {border-radius: 10px;
  margin-right: 20px;
}
.button {
  background-color: #04AA6D;
  color: inherit;
  border: none;
  padding: 1px;
  margin-top: 80px;
  text-align: center;
  text-decoration: none;
  float: right;
}
