.intro {
  position: fixed;
  font-size: 70px;
  font-weight: 600;
  font-family: var(--font-main);
  z-index: -1;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0;
}
.intro>span:nth-child(1){
  color:var(--imprint-text);
}
.intro>span:nth-child(2){
  color:var(--green-dark);
}

.intro>span:nth-child(3){
  color:var(--green-dark);
}

img.intro {
  margin-top: auto;
  height: 70px;
  bottom: 0;
}
.overlay{

  background-color: var(--dark-grey);
  z-index: -2;
  width: 100%;
}
.light-mode .overlay{

  background-color: var(--light-grey);
  z-index: -2;
  width: 100%;
}