/* Body */
.light-mode{
  background-color: var(--light-grey);
  color:var(--light-black);
	transition-duration: var(--mode-speed-background) ;
	transition-timing-function: linear;

}

.light-mode ::selection{
  color: white;
  background-color: black;
}
/* Intro */
.light-mode .intro>span:nth-child(2){
  color:var(--red-dark);

  }

.light-mode .intro>span:nth-child(3){
    color:var(--red-dark);
  }
.light-mode .overlay{
  background-color: var(--light-grey);
  z-index: -2;
  width: 100%;
  
}
/* Cube */
.light-mode .face{
  background-color: var(--light-grey);
	transition-property: color background-color;
	transition-duration: var(--mode-speed-background) ;
	transition-timing-function: linear;
}

  /*Header*/
.light-mode #typethis{
  color:var(--red-bright);
}
.light-mode li>a::before{
  color: var(--red-bright);
  content: counter(item) "[" ;
  box-sizing: inherit;
}
.light-mode li>a::after{
  color: var(--red-bright);
  content: "]" ;
  box-sizing: inherit;
}
.light-mode .nav_text>li>a:hover {
  color: var(--light-grey);
  text-decoration: underline; 
}
.light-mode .nav_text>li>a:hover::before
{
  color: var(--light-grey);
  text-decoration: underline; 
}
.light-mode .nav_text>li>a:hover::after
{
  color: var(--light-grey);
  text-decoration: underline; 
}  
.light-mode .nav_text>li>a {
  color: var(--light-black);
  text-decoration: none; 
  background:
  conic-gradient(from -135deg at 100%  50%, var(--red-bright) 90deg, #0000 0) 
    0  var(--p, 0%) / var(--s, 0%) 200% no-repeat,
  conic-gradient(from -135deg at 1.1em 50%, rgba(0, 0, 0, 0) 90deg, var(--red-bright) 0) 
    100% var(--p, 0%) / var(--s, 0%) 200% no-repeat;
transition: .2s, background-position 0s;
}
  /* Footer */
 
.light-mode .push_right>pre>span { 
  color:var(--red-bright);
}
.light-mode .ansi1>span{
  color: var(--red-bright);
}

/* Button */
.light-mode .svg{
  fill: black;
  width:80%
}
pre> svg:hover>.svg{
  fill: rgb(255, 255, 132);
}
.lightbuttontext{
  z-index: 2; 
  position:relative; 
  top:80px; 
  right:20px; 
  float: right; 
  font-size: var(--fs4); 
  font-family: var(--font-hand); 
  transform: rotateZ(25deg);
}