.intro {
  position: fixed;
  font-size: 70px;
  font-weight: 600;
  font-family: "Courier New";
  z-index: 1;
}
.intro>span:nth-child(1){
  color:var(--imprint-text);

}
.intro>span:nth-child(2){
  color:var(--green-dark);

}

.intro>span:nth-child(3){
  color:var(--green-dark);

}

img.intro {
  margin-top: auto;
  height: 70px;
  bottom: 0;
}
