.aboutMe {
  position: fixed;
  font-size: 70px;
  font-weight: 600;
  font-family: "Courier New";
}
.aboutMe>span:nth-child(1){
color: #5c5c5c;
}
.aboutMe>span:nth-child(2){
  color:#04AA6D;
}

.aboutMe>span:nth-child(3){
  color:#00c576;
}

img.aboutMe {
  margin-top: auto;
  height: 70px;
  bottom: 0;
}
