.project-nav
{

    width: 100vh;

}
.project-nav a{
    background-color: rgba(0, 0, 0, 0.137);
    font-size: 20px;
    font-family: var(--font-main);
    white-space: nowrap;
    padding: 5%;
    display: block;
    border-left: outset 5px var(--red-dark);
}
.project-nav a{
    margin-bottom: 2px;
    top: 0;
    padding-right: 10px;
}

.project-nav>ul>a::after{
    content: ":";
}

.project-content a
{
    color: var(--red-dark);
}

@media (min-width: 1000px) {

.project-wrapper{
    width: 80%;
    height: 100%;
    display: inline-flex;
}
.project-content
{
    background-color: rgba(0, 0, 0, 0.103);

    font-size: 15px;
    font-family: var(--font-main);
    width: 70%;
    white-space: pre-wrap;
    max-height: 500px;
    min-width: 400px;
    border-top-left-radius: 10px;

}

.project-content-img
    {
        justify-content: center;
        vertical-align: middle;
        width: 10%;
        min-width: 400px;
        max-height: 500px;
        overflow: hidden;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
    }

.project-content-img>img{
      max-height: 100%;
    }   

}
@media (max-width: 999px) {
    .project-nav
    {
    
        display: none;
    
    }
    .project-wrapper{
        width: 80%;
        height: 100%;
    }
    .project-content
    {
        background-color: rgba(0, 0, 0, 0.103);
        font-size: 15px;
        font-family: var(--font-main);
        min-width: 300px;
        white-space: pre-wrap;
        max-height: 500px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    
    }
    .project-content-img
    {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        overflow: hidden;
        min-width: 300px;
    }

    .project-content-img>img{
        min-width: 500px;
    }
  }