/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--light-white);
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: var(--red-bright);
    height: 25px;
  }
  

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    color: var(--red-dark);
    font-weight: bold;
    font-size: 80px;
    transition: 0.3s ease;
    border-radius: 3px 0px 0px 3px;
    user-select: none;
    rotate: 90deg;
    display: block;
}
.next {
    padding-left: 15px;
    border-radius: 0 6px 6px 0;
}
.prev {
    padding-right: 15px;
    border-radius: 0 6px 6px 0;
}
.prev:hover, .next:hover {
    color: var(--red-bright);
}
.prev:hover{
    transform: translateX(-5px);
}

.next:hover{
    transform: translateX(5px);
}
@media only screen and (max-width: 300px) {
    .prev, .next{font-size: 11px}
  }




 
  .fade-left {
    animation-name: fade-left;
    animation-duration: 1s;
    transform:translateX(0%);

  }
  @keyframes fade-left {
    from {
      transform:translateY(-50%);

    } 
    to {
      transform:translateX(0%);
    }
  }

  .fade-right {
    animation-name: fade-right;
    animation-duration: 1s;
    transform:translateX(0%);

  }
  @keyframes fade-right {
    from {
      transform:translateY(50%);
    } 
    to {
      transform:translateX(0%);
    }
  }