
.project-nav a{
    background-color: rgba(0, 0, 0, 0.137);
    font-size: 20px;
    font-family: var(--font-main);
    white-space: nowrap;
    padding: 5%;
    display: block;
    border-left: outset 5px var(--red-dark);
}
.project-nav a{
    margin-bottom: 2px;
    top: 0;
    padding-right: 10px;
}

.project-nav>ul>a::after{
    content: ":";
}

.project-content a
{
    color: var(--red-dark);
}



.project-content
{
    background-color: rgb(194, 194, 194);
    font-size: 15px;
    font-family: var(--font-main);
    display:flex;
    width: 70%;
    white-space: pre-wrap;
    max-height: 500px;
    justify-content: center;
    border-top-left-radius: 10px;

}
@media (max-width: 999px) {
    .project-wrapper{
        min-width: 100%;

}

.project-content-img>img{
      max-width: 70%;
    }   
 
}
@media (min-width: 1000px) {
    .project-wrapper{
        width: 80%;
        height: 100%;
        display: inline-flex;
    }
    .project-content-img
    {
        justify-content: center;
        vertical-align: middle;
        width:  40%;
        min-width: 400px;
        max-height: 500px;
        overflow: hidden;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
    }

.project-content-img>img{
      max-height: 100%;
    }   
 
}
