.section-format{
    padding-top: 30px;
    padding-left: var(--left-pad);
    padding-right: var(--left-pad);
    background-color: var(--light-grey-section);
}
.section-header{
    font-size: var(--fs-sub-header);
    font-family: var(--font-compliment);
    white-space: nowrap;  
    color: var(--red-dark);
    font-weight: 600;
    text-shadow: 2px 2px #000000;
    margin: 0px;
    height: auto;
}
.section-header::before{
    content:"#{ ";
}
.section-header::after{
    content:" }";
}
.content-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:inherit;
}