@font-face{
    font-family: Montserrat;
    src:url('../fonts/Montserrat.ttf');
  
  }
  @font-face{
    font-family: GochiHand;
    src:url('../fonts/GochiHand-Regular.ttf');
  
  }

:root {
    --dark-grey: #232323; 
    --dark-white: #ffffff; 
    --light-grey: #e0e0e0;
    --light-black:#000000;
    --green-bright: #00ff9a;
    --green-dark: #04AA6D;
    --red-bright: #df5853;
    --red-dark: #b13f3b;
    --imprint-text: #444444;
    --nav-height: 80px;
    --font-main: "Courier New";
    --font-compliment: Montserrat;
    --font-hand: GochiHand;
    --fs-ansi: 6px;
    --fs1: 12px;
    --fs2: 13px;
    --fs3: 15px;
    --fs4: 15px;
    --fs5: 70px;
    --fs-header: 50px;
    --mode-speed: .5s;
    --mode-speed-background: 1s;
  	transition-timing-function: linear !important;
}
