@font-face{
    font-family: Montserrat;
    src:url('../fonts/Montserrat.ttf');
  
  }
  @font-face{
    font-family: GochiHand;
    src:url('../fonts/GochiHand-Regular.ttf');
  
  }
  @font-face{
    font-family: GemunuLibret;
    src:url('../fonts/GemunuLibret.ttf');
  
  }  
  @font-face{
    font-family: Liberation Mono;
    src:url('../fonts/Liberation-Mono.ttf');
  
  }
:root {
    --dark-grey: #232323; 
    --dark-grey-section: #1f1f1f;
    --dark-white: #ffffff; 
    --light-grey: #e0e0e0;
    --light-grey-section: #cccccc;
    --light-white:#000000;
    --green-bright: #00ff9a;
    --green-dark: #04AA6D;
    --red-bright: #df5853;
    --red-dark: #b13f3b;
    --imprint-text: #444444;
    --nav-height: 80px;
    --font-main: Liberation Mono;
    --font-compliment: Montserrat;
    --font-hand: GochiHand;
    --font-markers: GemunuLibret;
    --fs-ansi: 6px;
    --fs1: 12px;
    --fs2: 13px;
    --fs3: 15px;
    --fs5: 70px;
    --fs-header: 50px;
    --fs-sub-header: 70px;
    --mode-speed: 1s;
    --mode-speed-background: 2s;
    --left-pad: 100px;
    --svg-height: 30px;
    --img-size: 400px;

}
