html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} 
footer{
  position: absolute;
  display: flexbox;
  bottom: 0px;
  align-content: center;
  align-items: center;display: flex;
  justify-content: center;
  width: 100%;
}
#menuChoiceHeader {
  z-index: 100;
  position: absolute;
  display: flexbox;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
}

.option {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}

.option span {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#ASP {
  left: 0;
  right: 50%;
  font: normal 5.10em/150px 'Capital TT', Arial, Helvetica, sans-serif;
  vertical-align: middle;
  text-align: center;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: rgb(70, 70, 70);
}
#ASP img{
  filter: sepia(79%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
#ASP:hover {
  background-color: rgb(51, 51, 51);
  transition: background-color .4s;
  text-decoration: underline; 
}
#Django {
  left: 50%;
  right: 0;
  font: normal 5.10em/150px 'Capital TT', Arial, Helvetica, sans-serif;
  vertical-align: middle;
  text-align: center;
  color: inherit;
  text-decoration: none; 
  border-radius: 2px;
  background-color: rgb(68, 183, 139);
}
a img{
  width: 75%;
}
#Django img{
  filter: sepia(79%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
#Django:hover {
  background-color: rgb(51, 51, 51);
  transition: background-color .4s;
  text-decoration: underline; 
}
#Django:hover img{
  filter: none;
}