{% extends "base.html" %}

{% block head %}
<script>
$(document).ready(function(){
    TypeThis('developerjonas.com/physics')
    darkmode();

})

</script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
{% for scrpt in js_script %}<script type="text/javascript" src="{{stat}}physics/scripts/{{scrpt}}" defer></script>
{% endfor %}
{% for style in styles %}<link rel="stylesheet" type="text/css" href="{{stat}}physics/css/{{style}}">
{% endfor %}
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
      fontCache: 'global'
    }
  };
  </script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>


{% endblock head %}

    {% block nav %}
          <li><a href="https://developerjonas.com" rel="noopener noreferrer">Home</a></li>
        </ol>
        <div class="dropdown">
          <button class="dropbtn">>. . . 
          </button>
          <div class="dropdown-content">
            <li><a href="#intro">Home</a></li>
          </div>
        </div> 
    {% endblock nav %}
    {% block section %}
        <div class="phys-intro">
          WORK IN PROGRESS
          <div id='formula'></div>
          A: <input type="text" id="valueA">
          B: <input type="text" id="valueB">
          C: <input type="text" id="valueC">

          <p><input type="button" value="Update" onclick="DynamicMJ.update()" /></p>

        <div>
    {% endblock section %}

    {% block page_content %}


      {% endblock page_content %}

