.apps
{
    font-family: var(--font-compliment);
    text-decoration: none; 
    color: var(--red-bright);
    transition: color var(--mode-speed) linear;
    display: inline;

}
.apps:hover{
    text-decoration: underline;
}

#apps-type
{
    font-family: var(--font-compliment);
    color:var(--imprint-text);
    padding-bottom: 20px;
    font-size: var(--fs-header);

}
.app-wrapper{
    padding:50px;
    display: flex;
    align-items: center;
    margin: auto;
}
