{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
{% for style in styles %}<link rel="stylesheet" type="text/css" href="{{stat}}root/css/{{style}}">
{% endfor %}
</head>

<body class="dark-mode">

<div id='menuChoiceContainer'>
  <div id='menuChoiceHeader'>
    <h1>This Page is Under Construction - Please Select a Framework to Continue</h1>
  </div>
  <a href="/asp" class="option" id="ASP">
    <img src="{{stat}}root/images/asp-svgrepo-com.svg"></img>
  </a>
  <a href="/django" class="option" id="Django">
    <img src="{{stat}}root/images/django-svgrepo-com.svg"></img>
  </a>
  
  
</div>
<div id='menuChoiceFooterWrapper'>
  <div id='menuChoiceFooter'>

  <img src="{{stat}}root/images/gunicorn_logo_icon_170045.svg"></img>
  <img src="{{stat}}root/images/gunicorn-svgrepo-com.svg"></img>

  </div>
</div>
</body>