<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Developer Jonas</title>
  <link rel="stylesheet" type="text/css" href="../static/css/Main.css">
  <link rel="stylesheet" type="text/css" href="../static/css/Footer.css">
  <link rel="stylesheet" type="text/css" href="../static/css/General.css">
  <link rel="stylesheet" type="text/css" href="../static/css/Header.css">
  <link rel="stylesheet" type="text/css" href="../static/css/Light-mode.css">
  <link rel="icon" type="image/x-icon" href="../static/images/Logo.svg">
</head>

<script type="text/javascript" src="../static/Typewriter.js"></script>

<body class="body_ground">
<button class="button button4" onclick="myFunction();"></button>
  
<header><nav class="navigate_style">
  <div>[<a class="ansi2" href="" id="typethis"></a>]</div>
    <div>
        <ol class="nav_text">
    <li><a href="#">About Me</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Work</a></li>
    <li><a href="#">Resume</a></li>
    <li><a href="#">Contact</a></li>
        </ol>
    </div>
</nav>
</header>

  <main>
<pre class="aboutMe">
  <span>Hi, My name is</span>
  <span>  Younes</span><span> 'Jonas' Issa</span>
  <span>    I Make Things..</span>
</pre>

  </main>



    <script type="text/javascript">
      function myFunction() {
        document.body.classList.toggle("light-mode");
        document.getElementById("navtext").classList.toggle("light-mode");

      }

      new TypeWriter(`#typethis`, {
        cursor: {
          speed: 800,
          size: 'larger',
          id: 'Some_TypeWriter_CSS',
          enabled: true
        },
        timeout: 100
      })
      .write(`developerjonas.com`)
      .start();
    </script>
</body>
    <footer class="flex-container" >
        <div class="flex-item-footer">
<pre style="font-size: 7px">       _,met$$$$$gg.
    ,g$$$$$$$$$$$$$$$P.
  ,g$$P"     """Y$$.".
 ,$$P'              `$$$.
',$$P       ,ggs.     `$$b:
`d$$'     ,$P"'   <span class="ansi2">.</span>    $$$
 $$P      d$'     <span class="ansi2">,</span>    $$P
 $$:      $$.   <span class="ansi2">-</span>    ,d$$'
 $$;      Y$b._   _,d$P'
 Y$$.    <span class="ansi2">`.</span>`"Y$$$$P"'
 `$$b      <span class="ansi2">"-.__</span>
  `Y$$
   `Y$$.
     `$$b.
       `Y$$b.
          `"Y$b._
              `"""</pre>

        </div>

                <div class="flex-item-footer">
                    <pre>Designed, Developed & Deployed</pre>
                    <pre>by Younes Issa</pre>
            </div>

        <div class="flex-item-footer"><div class="push_right "><pre>    -------------------------
    <span>OS</span>:       Debian GNU/Linux 11
    <span>Host</span>:     Raspberry Pi 4 Model B Rev 1.4
    <span>Kernel</span>:   5.XX.XX
    <span>Shell</span>:    bash
    <span>CPU</span>:      BCM2835 (4) @ 1.800GHz
    <span>Memory</span>:   7812MiB</pre></div></div>

    </footer>

</html>